#container-cad-mecanico{
width:100vw;
height:80vw;
margin-top:6vw;
}

#frmcad{
width:80vw;
height:60vw;
margin-left:10vw;
margin-left:10vw;
box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.19);
border-radius:10px;
padding-left:10vw;
padding-top:3vw;
margin-right:0vw;


}
#validationDefault01{
margin-left:0vw;

}
#validationDefault02{
margin-left:0vw;

}
#validationsenha{
margin-left:14vw;	
}
#lblSenha{
margin-left:14vw;
}

#validationDefault03{
margin-left:0vw;

}

#validationDefault04{
margin-left:0vw;
}

#validationDefault05{
margin-left:0vw;
}
#validarusuario{
margin-left:0.3vw;
width:21vw;
}

#lblemail{
margin-left:0.3vw;
}

#frmcad > h1{
font-size:1.5em;
margin-top:0%;
padding-bottom:3vw;
}

#exampleFormControlSelect1{
margin-left:0%;
}
